nav li {
  display: inline-block;
  list-style: none;
  margin-right: 20px;
}
nav li:hover {
  text-decoration: underline;
  background-color: darkgrey;
}
nav li a {
  text-decoration: none;
  color: #333;
}
audio {
  display: block;
}
